.navglobe-pright{
	padding-right: 29px;
}
.nav-location{
	padding-left: 20px;
	margin-right: 50px;
}
.nav-button{
	height: 50px;
	border-radius: 25px;
}
/* .nav-button .btn-outline-dark {
  background-color: yellow !important;
} */

.explore{
	padding-top:200px;
}
.explore h1{
   font-size: 90px;
   line-height: 105px;
   color: #000000;
}
.serchbar{
	padding-top:180px;
}
.serchbar input{
	height: 80px;
	border-radius: 25px;
}
.serchbar button{
	height: 80px;
	border-radius: 25px;
}
.site-index {
 background-image: url("images/bg.svg");
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.card.card-category {
	background-color:#c2b8b8;
	width: 7rem; 
	height: 7rem;
	
	margin-top: 1rem;

	

}
.popular-category{
	background-color:#F7F7F7 ; 
	height:250px;
	width: 100%;
	margin-bottom: 100px;

}
.popular {
	background-color:#F7F7F7 ; 
	height:400px;
	width: 100%;
	margin-bottom: 90px;
}

.card {
	padding: 20px;
	
	

}
.popular-loc {
   padding: 40px;
  
}
.card.card-body {

    width: 500px;
    height: 400px;

}
.popular-ven {
	background-color: #B1B7B7 ; 
	height:700px;
	width: 100%;
	margin-bottom: 90px;
}
.popular-vendors {
	background-color: #F7F7F7 ; 
	height:500px;
	width: 100%;
	margin-bottom: 90px;
}
.listing-list {
	padding-bottom: 20px;
}
.img-fluid{
	 max-width: 100%; 
	 height: auto;
}
.card-vendor{
	width: 25rem; 
	height:45rem;

}
.card-pop{
	width: 10rem; 
	height: 10rem;

}
@media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* display 3 */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33.333%);
    }
    
    .carousel-inner .carousel-item-left.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33.333%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}
.carousel-item {
		width: 25rem; 
	height:45rem;

}
.carousel-inner{
	width: 100rem;

}