.card-row{
    width: 100%;
}

.map-row{
    position: fixed !important;
     margin-left: 40em; 
     background-color: rgba(0,0,0,0.1);
}
#search-results-map{
    width:  100%;
    height: 600px;
    border-radius: 5px;
    border:#000000;
    
  
}
/* searchbar */
.nav-two li{
	display: inline-flex;
	padding-bottom: 2em;

}
.nav-two{
	background-color: rgba(0,0,0,0.1) !important;
	width: 75%;
	height: 4.5em;
    border-radius: 4em;
    margin-top: 5em;
}
.nav-two button{
 width: 6em;
 height: 3em;
 border-style: none;
 font-size: 0.8em;
 background-color: #0000;
 border-radius: 2em;
}
.nav-two button:hover{
	background-color: rgb(255,255,255, 0.5);
}
#search-button{
	height: 3.6em;
	width: 3.6em;
	background-color: #FB8085;
	margin-top: 2em;
	border-radius: 2em;
	margin-left: 2em;
}
#search-button:hover{
background-color: #AA4465;
}

/* style listings */
.card-row-ii{
    width: max-content;
}

.filters button{
    width: 7em;
    height: 3em;
    border-radius:2em;
    margin-right:2em;
}
.filters button:active{
    width: 5em;
    height: 2em;
    border-radius:1em;
    margin-right:2em;
}
.card-row-filter p{
    font-size: 2.5em;
    color: rgb(31, 2, 31);
}
.filters{
    display: inline-flex;
}
.form-group p{
    text-align: center;
}
.form-check{
    display: inline-block;
    
}
.form-check div{
    margin: 1em;
}
.card-body img{
    height: 7em;
    width: 100%; 
}
.card-link{
    margin: 1em;
    background-color: yellowgreen;
    border-radius: 1em;
    color: black;
    padding: 0.2em;
}
.single-listing{
    display: inline-flex;
}
.listing-info{
     padding: 0.5em; 
    display: inline-flex;
}
.listing-info i{ 
    font-size: 1.5em;
    margin-right: 0 !important;
}
.listing-info h5{
    width: 10em;
}
.liketoggle i.fas {
    color: red;
  }

.single-listing{
    padding-top: 1em;
}






